<div class="container mt-4">
    <!-- Encabezado y botón para agregar -->
    <div class="d-flex justify-content-between align-items-center mb-3">
      <div class="d-flex align-items-center gap-3">
        <h4>Productos</h4>
        <!-- Añadimos el selector de categorías -->
        <select class="form-select form-select-sm" style="width: auto;" [(ngModel)]="categoriaSeleccionada" (change)="filtrarProductos()">
          <option value="0">Todas las categorías</option>
          <option *ngFor="let categoria of categorias" [value]="categoria.categoryId">
            {{ categoria.name }}
          </option>
        </select>
      </div>
      <button *ngIf="esAdmin" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCrearProducto">
        Agregar Productos
      </button>
    </div>
  
    
    <!-- Modal Crear -->
    <div class="modal fade" id="modalCrearProducto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Nueva Categoría</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <app-producto-crear
            
            (productoCreado)="recargarProductosYCerrarModalCrear()"
            ></app-producto-crear>
            <!-- <app-categoria-crear
            (categoriaActualizada)="recargarCategoriasYCerrarModalCrear()">
          </app-categoria-crear> -->
  
          </div>
        </div>
      </div>
    </div>
  
    <!-- Listado de tarjetas -->
    <div style="max-height: 80vh; overflow-y: auto; overflow-x: hidden;">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4" *ngFor="let card of cards">

            <app-tarjeta-producto
            [producto]="card"
            (editarProducto)="onEditarCategoria($event)"
            (eliminarProducto)="eliminarCategoria($event)">
            >
            
        </app-tarjeta-producto>
          <!-- <app-categoria-tarjeta
    [categoria]="card"
    (editarCategoria)="onEditarCategoria($event)"
    (eliminarCategoria)="eliminarCategoria($event)">
  </app-categoria-tarjeta> -->
  
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal Editar -->
  <div class="modal fade" id="modalEditarProducto" tabindex="-1" aria-labelledby="modalEditarLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalEditarLabel">Editar Categoría</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">

            <app-producto-editar
                *ngIf="productoSeleccionada"
                [producto]="productoSeleccionada"
                (productoActualizado)="recargarProductosYCerrarModal()">
            
            </app-producto-editar>
            <h1>hi</h1>
        
      
        </div>
      </div>
    </div>
  </div>
  
  