<form class="login-form" (ngSubmit)="onSubmit()">
    <h2>Inicio sesión</h2>
  
    <div class="form-group">
      <label for="email">Nombre de usuario</label>
      <div class="input-icon">
        <i>📧</i>
        <input type="email" id="email"  [(ngModel)]="user.userName" name="userName" placeholder="example@gmail.com" required />
      </div>
    </div>
  
    <div class="form-group">
      <label for="password">Password</label>
      <div class="input-icon">
        <i>🔑</i>
        <input type="password" id="password" [(ngModel)]="user.password" name="password"  placeholder="*********" required />
      </div>
    </div>
  
    <div class="divider">¿No tienes cuenta? <a routerLink="/inicio" >Registrate</a></div>
  
    <button type="submit" class="btn-login">Iniciar sesión</button>
  </form>
  