<form class="login-form" (ngSubmit)="onSubmit()">
    <h2>Agrega un Nombre de usuario </h2>
  
    <div class="form-group">
      <label for="email">Nombre de usuario</label>
      <div class="input-icon">
   
        <input type="email" id="email"  [(ngModel)]="user.userName" name="userName"  required />
      </div>
    </div>
  
    <div class="form-group">
      <label for="password">Password</label>
      <div class="input-icon">
        <i>🔑</i>
        <input type="password" id="password" [(ngModel)]="user.password" name="password"  placeholder="*********" required />
      </div>
    </div>
  

  
    <button type="submit" class="btn-login">Vamos adentro</button>
  </form>
  