
<div class="card" style="width: 16rem;">
    <div class="card-body">
      <h5 class="card-title">{{proveedorr.supplierName}}</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">{{proveedorr.email}}</h6>
      <p class="card-text">{{proveedorr.address}}</p>
      <p class="card-text">{{proveedorr.phone}}</p>

      <button class="btn btn-sm btn-outline-primary mt-2"
      *ngIf="esAdmin" 
      data-bs-toggle="modal"
      data-bs-target="#modalEditarProducto"
      (click)="onEditar3()">
 Editar
</button>
<button *ngIf="esAdmin"  class="btn btn-sm btn-danger bottonmio" (click)="eliminar()">Eliminar</button>
    </div>
  </div>