<div class="container">
  <!-- Primera fila: Cajas resumen -->
  <div class="row mb-4 primeras">
    <div class="col-md-4">
      <div class="card text-center p-3 cartica" >
        <h6 class="fw-bold">Categorías</h6>
        <img src="assets/categoria.png" alt="" class="imagen">
        
       
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-center p-3 cartica">
        <h6 class="fw-bold">Productos</h6>
        <img src="assets/logo.png" alt="" class="imagen">
     
       
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-center p-3 cartica">
        <h6 class="fw-bold">Proveedores</h6>
        <img src="assets/proveedor.png" alt="" class="imagen">
      </div>
    </div>
  </div>

  <!-- Segunda fila: Tarjetas de categorías y producto más vendido -->
  <div class="row container">
    <div class="col-md-9">
      <div class=" rounded p-3 container-productos">
        <div class="row">
          <!-- Computadores -->
          <div class="col-md-4 mb-4">
            <app-card></app-card>

          </div>
          <!-- Monitores -->
          <div class="col-md-4 mb-4">
            <app-card></app-card>
          </div>
          <!-- Teclados -->
          <div class="col-md-4 mb-4">
            <app-card></app-card>

          </div>
          
        </div>
      </div>
    </div>

    <!-- Producto más vendido -->
    <div class="col-md-3">
      <div class="card text-center p-3 h-100 cartica ">
        <h6 class="fw-bold">Hola, bienvenido a mi Tienda</h6>
        <img src="assets/saludo.png" alt="" class="imagen">
      </div>
    </div>
  </div>
</div>
