<div class="container">
  <!-- Primera fila: Cajas resumen -->
  <div class="row mb-4 primeras">
    <div class="col-md-4">
      <div class="card text-center p-3">
        <h6 class="fw-bold">Categorías</h6>
        <p class="fs-5">5</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-center p-3">
        <h6 class="fw-bold">Productos</h6>
        <p class="fs-5">35</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-center p-3">
        <h6 class="fw-bold">Proveedores</h6>
        <p class="fs-5">5</p>
      </div>
    </div>
  </div>

  <!-- Segunda fila: Tarjetas de categorías y producto más vendido -->
  <div class="row container">
    <div class="col-md-9">
      <div class=" rounded p-3 container-productos">
        <div class="row">
          <!-- Computadores -->
          <div class="col-md-4 mb-4">
            <app-card></app-card>

          </div>
          <!-- Monitores -->
          <div class="col-md-4 mb-4">
            <app-card></app-card>
          </div>
          <!-- Teclados -->
          <div class="col-md-4 mb-4">
            <app-card></app-card>

          </div>
        </div>
      </div>
    </div>

    <!-- Producto más vendido -->
    <div class="col-md-3">
      <div class="card text-center p-3 h-100">
        <h6 class="fw-bold">Producto más Vendido</h6>
        <p class="mt-3">[Aquí puedes mostrar el nombre o imagen del producto]</p>
      </div>
    </div>
  </div>
</div>
