
.primeras{
  margin-top: 8%;
}
.segundas{
  margin-top: 10vh;
}

.container-productos{



  border: 0.5px solid #d6d3d3;
  background-color: #eaeaea;

}

.imagen{
 width: 10rem;
 height: 10rem;
}
.cartica{
  align-items: center;
}