
<div class="card" style="width: 16rem;">

    <div class="card-body">
      <h5 class="card-title">{{producto.productName}}</h5>
      <p class="card-text">{{producto.description}}</p>
      <p class="card-text">{{producto.category?.name}}</p>
      <p class="card-text">{{producto.productPrice}}</p>

      <button class="btn btn-sm btn-outline-primary mt-2"
      *ngIf="esAdmin"
      data-bs-toggle="modal"
      data-bs-target="#modalEditarProducto"
      (click)="onEditar3()">
 Editar
  </button>
      <button  *ngIf="esAdmin"  class="btn btn-sm btn-danger bottonmio" (click)="eliminar()">Eliminar</button>
    <button (click)="mostrarAlerta()" type="button" class="btn btn-sm  mt-2 btn-success bottonmio">Comprar</button>

    </div>
  </div>