* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
  }
  
  body {
    margin: 0;
    display: flex;
    height: 100vh;
    background-color: #f9f9f9;
  }
  
  .container {
    display: flex;
    flex: 1;
  }
  
  .left {
    flex: 1;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }
  
  .left img {
    max-width: 90%;
    height: auto;
  }
  
  .right {
    flex: 1;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }
  