<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="d-flex me-auto" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      </form>
      
      <!-- Selector de Rol -->
      <app-selector-rol class="me-3"></app-selector-rol>
      
      <button class="btn btn-outline-success perfil" type="submit">Search</button>
    </div>
  </div>
</nav>