<!-- Contenedor principal -->
<div class="d-flex">

  <!-- Sidebar fija -->
  <div class=" text-white p-3 fondoSidenav" style="width: 250px; min-height: 100vh;">
    <h4>Tienda Don Pedro</h4>
    <hr>
    <ul class="nav nav-pills flex-column">

    
      <app-option-button [ruta]="'/inicio'" [texto]="'Inicio'"></app-option-button>
      <app-option-button [ruta]="'/categoria'" [texto]="'Categoria'"></app-option-button>
      <app-option-button [ruta]="'/productos'" [texto]="'Productos'"></app-option-button>
      <app-option-button [ruta]="'/proveedores'" [texto]="'Proveedores'"></app-option-button>
      <app-option-button [ruta]="'/facturas'" [texto]="'Facturas'"></app-option-button>
     

    </ul>
  </div>


</div>
