<!-- Contenedor principal -->
<div class="d-flex">

  <!-- Sidebar fija -->
  <div class=" text-white p-3 fondoSidenav" style="width: 250px; min-height: 100vh;">
    <h4>Model Secutiry</h4>
    <hr>
    <ul class="nav nav-pills flex-column">
      <app-option-button [ruta]="''" [texto]="'Inicio'"></app-option-button>
      <app-option-button [ruta]="'/crear'" [texto]="'Crear Persona'"></app-option-button>
      <app-option-button [ruta]="'/inicio'" [texto]="'Inicio'"></app-option-button>
     








    </ul>
  </div>


</div>
